grant{
	permission javax.management.MBeanTrustPermission "register";
        permission java.lang.RuntimePermission "accessDeclaredMembers";
        permission java.lang.RuntimePermission "getClassLoader";
};